# Arquivos de ambiente
.env
foundlab-key.json

# Cache de Python
__pycache__/
*.pyc

# Logs
*.log

# Arquivos temporários e do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de build/deploy
*.sqlite3
*.db

# Configs de IDEs/editors
.vscode/
.idea/

# Shell scripts locais (caso não queira versionar)
run_local.sh
